.vs/
API_EXAMPLE/bin/*
ApplicationApp/bin/*
ApplicationApp/obj/*
API_EXAMPLE/obj/*
DDD_EXAMPLE/bin/*			
DDD_EXAMPLE/obj/*
DDD_WEB/bin/*
DDD_WEB/obj/*
Domain/bin/*
Domain/obj/*
Entities/bin/*
Entities/obj/*
Infrastructure/bin/*
Infrastructure/obj/*
TestApps/bin/*
TestApps/obj/*
